/* style.css */

.employee-card {
    margin: 10px 10px 10px 10px;
}

.team-heading {
    background-color: rgb(236, 161, 99);
}

body {
    background-color:rgb(253, 246, 255);
}

.card-header {
    background-color: rgb(241, 196, 158);
}